openapi: 3.1.0
info:
  title: Bells Fork Inventory API
  version: 1.0.0
  summary: Inventory management API that publishes inventory.json compatible with the current frontend.
  description: |
    This spec is designed to preserve the existing public-site data contract:

      inventory.json -> { lastUpdated: ISO8601, vehicles: Vehicle[] }

    Vehicle fields intentionally match the current inventory-loader.js expectations:
    - required for public display: vin, year, make, model, price, mileage, type, description
    - optional: trim, badge, status, dateAdded, images[], exteriorColor, interiorColor, transmission
    - also supported (optional): stockNumber, engine, drivetrain, fuelType, mpgCity, mpgHighway
servers:
  - url: https://api.bellsforkautoandtruck.com
    description: Production
  - url: http://localhost:8787
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Vehicles
  - name: VIN
  - name: Imports
  - name: Publish
  - name: Audit

paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Logged in
          content:
            application/json:
              schema:
                type: object
                required: [token, user]
                properties:
                  token: { type: string, description: JWT access token }
                  user: { $ref: '#/components/schemas/User' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      responses:
        '204': { description: Logged out }

  /vehicles:
    get:
      tags: [Vehicles]
      summary: List vehicles
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [available, draft, pending, sold, disabled] }
        - in: query
          name: q
          schema: { type: string }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: pageSize
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        '200':
          description: Vehicles
          content:
            application/json:
              schema:
                type: object
                required: [items, page, pageSize, total]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Vehicle' }
                  page: { type: integer }
                  pageSize: { type: integer }
                  total: { type: integer }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Vehicles]
      summary: Create vehicle
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VehicleUpsert' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vehicle' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /vehicles/{vehicleId}:
    parameters:
      - in: path
        name: vehicleId
        required: true
        schema: { type: string, description: UUID or VIN depending on implementation }
    get:
      tags: [Vehicles]
      summary: Get vehicle
      responses:
        '200':
          description: Vehicle
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vehicle' }
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Vehicles]
      summary: Update vehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/VehicleUpsert'
                - type: object
                  properties:
                    publishedVersion:
                      type: integer
                      description: Optional optimistic-concurrency version.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Vehicle' }
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags: [Vehicles]
      summary: Soft-delete vehicle
      responses:
        '204': { description: Deleted }
        '404':
          $ref: '#/components/responses/NotFound'

  /vin/decode:
    post:
      tags: [VIN]
      summary: Decode a single VIN and return normalized Vehicle fields
      description: |
        Recommended provider strategy:
        - Always call NHTSA vPIC first for baseline decode.
        - Optionally enrich with a paid provider (DataOne / MarketCheck) if required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vin]
              properties:
                vin: { type: string, minLength: 17, maxLength: 17 }
                enrichLevel: { type: string, enum: [basic, full], default: basic }
      responses:
        '200':
          description: Decode result
          content:
            application/json:
              schema:
                type: object
                required: [vehicle, warnings]
                properties:
                  vehicle: { $ref: '#/components/schemas/VehicleUpsert' }
                  warnings:
                    type: array
                    items: { type: string }
                  raw:
                    type: object
                    additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'

  /imports/bulk-vin:
    post:
      tags: [Imports]
      summary: Start a bulk VIN import job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vins]
              properties:
                vins:
                  type: array
                  minItems: 1
                  items: { type: string, minLength: 17, maxLength: 17 }
                defaultStatus:
                  type: string
                  enum: [draft, available]
                  default: draft
      responses:
        '202':
          description: Job created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImportJob' }

  /imports/csv:
    post:
      tags: [Imports]
      summary: Upload a CSV for import (async)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                mappingJson:
                  type: string
                  description: Optional saved mapping config (JSON string)
      responses:
        '202':
          description: Job created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImportJob' }

  /imports/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string }
    get:
      tags: [Imports]
      summary: Get import job status
      responses:
        '200':
          description: Job
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ImportJob' }
        '404':
          $ref: '#/components/responses/NotFound'

  /imports/{jobId}/items:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string }
    get:
      tags: [Imports]
      summary: List job items (validation results)
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [ok, warning, error, duplicate] }
      responses:
        '200':
          description: Items
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ImportJobItem' }

  /imports/{jobId}/commit:
    post:
      tags: [Imports]
      summary: Commit staging vehicles into production vehicles
      responses:
        '200':
          description: Commit result
          content:
            application/json:
              schema:
                type: object
                required: [inserted, updated, skipped]
                properties:
                  inserted: { type: integer }
                  updated: { type: integer }
                  skipped: { type: integer }

  /publish/inventory-json:
    post:
      tags: [Publish]
      summary: Publish current inventory snapshot as inventory.json
      description: |
        Generates the exact JSON contract the current frontend loads.
        Implementation options:
        - Write to object storage + CDN
        - Write to repo / build artifact
      responses:
        '200':
          description: Export
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryExport' }

  /audit:
    get:
      tags: [Audit]
      summary: List audit entries
      parameters:
        - in: query
          name: entityType
          schema: { type: string, enum: [vehicle, import, publish, auth] }
        - in: query
          name: since
          schema: { type: string, format: date-time }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 200 }
      responses:
        '200':
          description: Audit entries
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditEntry' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Conflict:
      description: Conflict
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    User:
      type: object
      required: [id, email]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        roles:
          type: array
          items: { type: string }

    Vehicle:
      type: object
      required: [vin, year, make, model, price, mileage, type, description, status, dateAdded, images, features]
      properties:
        vin:
          type: string
          minLength: 17
          maxLength: 17
          description: 17-character VIN (I/O/Q excluded)
        stockNumber:
          type: string
          nullable: true
        year:
          type: integer
          minimum: 1981
        make: { type: string }
        model: { type: string }
        trim: { type: string, nullable: true }
        price: { type: integer, minimum: 0 }
        mileage: { type: integer, minimum: 0 }
        type:
          type: string
          description: Used by filters on the public site
          enum: [car, truck, suv, diesel, van]
        exteriorColor: { type: string, nullable: true }
        interiorColor: { type: string, nullable: true }
        transmission: { type: string, nullable: true }
        engine: { type: string, nullable: true }
        drivetrain: { type: string, nullable: true }
        fuelType: { type: string, nullable: true }
        mpgCity: { type: integer, nullable: true, minimum: 0 }
        mpgHighway: { type: integer, nullable: true, minimum: 0 }
        description: { type: string }
        features:
          type: array
          items: { type: string }
        badge: { type: string, nullable: true }
        status:
          type: string
          enum: [available, draft, pending, sold, disabled]
        dateAdded:
          type: string
          format: date-time
        images:
          type: array
          items:
            type: string
            description: Filename (static site) or URL (API-driven site)
        publishedVersion:
          type: integer
          description: Optional optimistic concurrency version

    VehicleUpsert:
      type: object
      properties:
        vin: { type: string, minLength: 17, maxLength: 17 }
        stockNumber: { type: string, nullable: true }
        year: { type: integer, minimum: 1981 }
        make: { type: string }
        model: { type: string }
        trim: { type: string, nullable: true }
        price: { type: integer, minimum: 0 }
        mileage: { type: integer, minimum: 0 }
        type: { type: string, enum: [car, truck, suv, diesel, van] }
        exteriorColor: { type: string, nullable: true }
        interiorColor: { type: string, nullable: true }
        transmission: { type: string, nullable: true }
        engine: { type: string, nullable: true }
        drivetrain: { type: string, nullable: true }
        fuelType: { type: string, nullable: true }
        mpgCity: { type: integer, nullable: true, minimum: 0 }
        mpgHighway: { type: integer, nullable: true, minimum: 0 }
        description: { type: string }
        features:
          type: array
          items: { type: string }
        badge: { type: string, nullable: true }
        status: { type: string, enum: [available, draft, pending, sold, disabled] }
        dateAdded: { type: string, format: date-time }
        images:
          type: array
          items: { type: string }

    InventoryExport:
      type: object
      required: [lastUpdated, vehicles]
      properties:
        lastUpdated: { type: string, format: date-time }
        vehicles:
          type: array
          items: { $ref: '#/components/schemas/Vehicle' }

    ImportJob:
      type: object
      required: [id, type, status, createdAt, totalCount, processedCount, successCount, errorCount]
      properties:
        id: { type: string }
        type: { type: string, enum: [bulk_vin, csv] }
        status: { type: string, enum: [queued, running, needs_review, failed, committed] }
        createdAt: { type: string, format: date-time }
        totalCount: { type: integer }
        processedCount: { type: integer }
        successCount: { type: integer }
        errorCount: { type: integer }
        progressPct: { type: number, minimum: 0, maximum: 100 }
        message: { type: string, nullable: true }

    ImportJobItem:
      type: object
      required: [id, jobId, status]
      properties:
        id: { type: string }
        jobId: { type: string }
        vin: { type: string, nullable: true }
        rowNumber: { type: integer, nullable: true }
        status: { type: string, enum: [ok, warning, error, duplicate] }
        messages:
          type: array
          items: { type: string }

    AuditEntry:
      type: object
      required: [id, at, action]
      properties:
        id: { type: string }
        at: { type: string, format: date-time }
        action: { type: string }
        entityType: { type: string }
        entityId: { type: string }
        actorUserId: { type: string }
        before: { type: object, additionalProperties: true }
        after: { type: object, additionalProperties: true }

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error: { type: string }
        detail: { type: string, nullable: true }
        code: { type: string, nullable: true }
